.app {
  margin: 30px;
}

.explication {
  color: tomato;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 20px;
  object-fit: cover;
}




  .madness {
    animation: rotate infinite 1s ease-in-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }

